<div id="footerMenu">
    <div id="menuButton"> 
        <picture>
            <source media="(max-width: 768px)" srcset="./img/daga2.webp?width=150"  type="image/webp"/>
            <source media="(min-width: 768px)" srcset="./img/daga2.webp?width=250" type="image/webp"/>
            <img width="200px" height="44px" src="./img/daga2.webp" alt="">
        </picture>
        MENU
        <picture>
            <source media="(max-width: 768px)" srcset="./img/daga2.webp?width=150"  type="image/webp"/>
            <source media="(min-width: 768px)" srcset="./img/daga2.webp?width=250" type="image/webp"/>
            <img width="200px" height="44px" src="./img/daga2.webp" alt="" id="mirrorImg"></div>
        </picture>
    <div><a href="content.html">DISCOGRAFÍA</a></div>
    <div><a href="about.html">PRESENTACIÓN</a></div>
    <div><a href="references.html">ENLACES</a></div>
</div>
