* {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #000000;
    overflow-y: scroll;
}

#coverPortada {
    object-fit: cover;
     z-index: -1;
    clip-path: polygon(100% 62.227%,100% 62.227%,99.987% 62.255%,99.976% 62.28%,99.966% 62.302%,99.957% 62.323%,99.95% 62.342%,99.942% 62.358%,99.935% 62.374%,99.928% 62.387%,99.92% 62.4%,99.911% 62.411%,99.911% 62.411%,99.548% 62.81%,99.185% 63.21%,98.822% 63.61%,98.459% 64.009%,98.096% 64.409%,97.733% 64.809%,97.37% 65.208%,97.007% 65.608%,96.644% 66.008%,96.282% 66.407%,96.282% 66.407%,95.945% 66.778%,95.608% 67.149%,95.271% 67.52%,94.933% 67.891%,94.597% 68.262%,94.26% 68.634%,93.925% 69.007%,93.591% 69.381%,93.258% 69.756%,92.927% 70.133%,92.927% 70.133%,92.796% 70.272%,92.663% 70.394%,92.526% 70.499%,92.385% 70.587%,92.239% 70.658%,92.088% 70.713%,91.931% 70.752%,91.768% 70.775%,91.599% 70.782%,91.422% 70.773%,91.422% 70.773%,91.258% 70.759%,91.094% 70.748%,90.93% 70.739%,90.766% 70.733%,90.601% 70.728%,90.437% 70.724%,90.273% 70.721%,90.108% 70.72%,89.944% 70.719%,89.779% 70.718%,89.779% 70.718%,87.817% 70.716%,85.855% 70.714%,83.892% 70.712%,81.93% 70.711%,79.967% 70.709%,78.005% 70.708%,76.042% 70.706%,74.08% 70.704%,72.118% 70.702%,70.155% 70.7%,70.155% 70.7%,70.046% 70.699%,69.936% 70.696%,69.827% 70.69%,69.717% 70.684%,69.608% 70.677%,69.499% 70.67%,69.389% 70.663%,69.28% 70.657%,69.17% 70.653%,69.061% 70.65%,69.061% 70.65%,69.016% 70.652%,68.971% 70.656%,68.926% 70.662%,68.882% 70.67%,68.837% 70.679%,68.792% 70.689%,68.747% 70.699%,68.702% 70.709%,68.658% 70.719%,68.613% 70.728%,68.613% 70.728%,68.611% 70.738%,68.61% 70.747%,68.608% 70.757%,68.607% 70.766%,68.605% 70.776%,68.603% 70.785%,68.602% 70.794%,68.6% 70.804%,68.599% 70.813%,68.597% 70.823%,68.597% 70.823%,70.986% 72.728%,73.375% 74.634%,75.766% 76.54%,78.157% 78.447%,80.55% 80.356%,82.944% 82.265%,85.341% 84.177%,87.739% 86.09%,90.141% 88.006%,92.546% 89.924%,92.546% 89.924%,92.508% 89.938%,92.475% 89.951%,92.446% 89.963%,92.42% 89.974%,92.397% 89.983%,92.377% 89.991%,92.358% 89.998%,92.341% 90.003%,92.325% 90.006%,92.309% 90.007%,92.309% 90.007%,91.992% 90.003%,91.674% 89.998%,91.356% 89.994%,91.039% 89.989%,90.721% 89.985%,90.403% 89.98%,90.086% 89.975%,89.768% 89.971%,89.45% 89.967%,89.133% 89.964%,89.133% 89.964%,88.201% 89.955%,87.269% 89.946%,86.338% 89.937%,85.406% 89.928%,84.475% 89.919%,83.543% 89.91%,82.612% 89.902%,81.68% 89.895%,80.748% 89.888%,79.817% 89.881%,79.817% 89.881%,79.702% 89.876%,79.593% 89.86%,79.488% 89.836%,79.387% 89.802%,79.289% 89.761%,79.193% 89.713%,79.099% 89.657%,79.007% 89.595%,78.915% 89.528%,78.823% 89.455%,78.823% 89.455%,78.363% 89.082%,77.903% 88.71%,77.443% 88.34%,76.981% 87.97%,76.519% 87.601%,76.057% 87.232%,75.595% 86.864%,75.133% 86.496%,74.67% 86.129%,74.208% 85.762%,74.208% 85.762%,72.925% 84.741%,71.641% 83.721%,70.358% 82.701%,69.075% 81.681%,67.791% 80.661%,66.508% 79.641%,65.225% 78.621%,63.941% 77.601%,62.658% 76.581%,61.375% 75.56%,61.375% 75.56%,61.076% 75.323%,60.778% 75.085%,60.481% 74.847%,60.183% 74.609%,59.885% 74.371%,59.588% 74.132%,59.29% 73.894%,58.992% 73.655%,58.694% 73.417%,58.396% 73.179%,58.396% 73.179%,58.385% 73.171%,58.373% 73.164%,58.359% 73.157%,58.344% 73.151%,58.327% 73.146%,58.309% 73.14%,58.289% 73.133%,58.266% 73.125%,58.241% 73.117%,58.214% 73.106%,58.214% 73.106%,58.208% 73.165%,58.202% 73.222%,58.196% 73.277%,58.19% 73.332%,58.185% 73.385%,58.179% 73.437%,58.175% 73.489%,58.172% 73.54%,58.17% 73.59%,58.169% 73.641%,58.169% 73.641%,58.169% 74.245%,58.169% 74.85%,58.17% 75.455%,58.171% 76.059%,58.171% 76.664%,58.172% 77.269%,58.173% 77.874%,58.174% 78.478%,58.175% 79.083%,58.176% 79.687%,58.176% 79.687%,58.175% 79.824%,58.172% 79.932%,58.164% 80.016%,58.147% 80.079%,58.12% 80.123%,58.079% 80.151%,58.023% 80.168%,57.947% 80.175%,57.851% 80.176%,57.73% 80.174%,57.73% 80.174%,57.518% 80.171%,57.306% 80.168%,57.094% 80.166%,56.882% 80.164%,56.67% 80.163%,56.458% 80.162%,56.246% 80.161%,56.034% 80.16%,55.822% 80.16%,55.61% 80.159%,55.61% 80.159%,55.491% 80.16%,55.395% 80.164%,55.32% 80.174%,55.264% 80.193%,55.224% 80.225%,55.196% 80.272%,55.18% 80.337%,55.171% 80.423%,55.168% 80.533%,55.168% 80.671%,55.168% 80.671%,55.17% 81.831%,55.171% 82.991%,55.172% 84.151%,55.174% 85.31%,55.175% 86.47%,55.176% 87.63%,55.177% 88.79%,55.178% 89.95%,55.179% 91.11%,55.18% 92.27%,55.18% 92.27%,55.18% 92.965%,55.18% 93.66%,55.18% 94.355%,55.18% 95.05%,55.18% 95.745%,55.181% 96.44%,55.181% 97.135%,55.182% 97.83%,55.183% 98.525%,55.184% 99.22%,55.184% 99.22%,55.184% 99.43%,55.179% 99.598%,55.167% 99.729%,55.141% 99.828%,55.1% 99.898%,55.037% 99.945%,54.948% 99.974%,54.83% 99.989%,54.679% 99.994%,54.489% 99.995%,54.489% 99.995%,53.878% 99.995%,53.268% 99.995%,52.657% 99.995%,52.047% 99.995%,51.437% 99.995%,50.826% 99.995%,50.216% 99.995%,49.606% 99.995%,48.995% 99.995%,48.385% 99.995%,48.385% 99.995%,48.23% 99.994%,48.107% 99.99%,48.011% 99.978%,47.94% 99.955%,47.889% 99.916%,47.856% 99.858%,47.837% 99.778%,47.828% 99.671%,47.825% 99.534%,47.825% 99.363%,47.825% 99.363%,47.827% 98.984%,47.828% 98.606%,47.828% 98.227%,47.828% 97.849%,47.828% 97.471%,47.827% 97.093%,47.827% 96.714%,47.826% 96.336%,47.826% 95.958%,47.825% 95.579%,47.825% 95.579%,47.826% 94.296%,47.826% 93.013%,47.826% 91.729%,47.827% 90.446%,47.827% 89.163%,47.827% 87.879%,47.827% 86.596%,47.827% 85.312%,47.826% 84.029%,47.825% 82.746%,47.825% 82.746%,47.825% 82.52%,47.823% 82.294%,47.821% 82.068%,47.817% 81.843%,47.814% 81.617%,47.81% 81.391%,47.807% 81.165%,47.804% 80.939%,47.802% 80.714%,47.801% 80.488%,47.801% 80.488%,47.796% 80.407%,47.784% 80.341%,47.763% 80.287%,47.735% 80.245%,47.7% 80.213%,47.659% 80.19%,47.613% 80.175%,47.561% 80.165%,47.505% 80.16%,47.444% 80.159%,47.444% 80.159%,47.214% 80.159%,46.984% 80.159%,46.754% 80.159%,46.523% 80.158%,46.293% 80.157%,46.062% 80.157%,45.832% 80.156%,45.602% 80.156%,45.372% 80.157%,45.141% 80.159%,45.141% 80.159%,45.069% 80.157%,45.005% 80.15%,44.948% 80.136%,44.899% 80.114%,44.857% 80.084%,44.824% 80.044%,44.797% 79.993%,44.778% 79.931%,44.767% 79.856%,44.762% 79.768%,44.762% 79.768%,44.759% 78.953%,44.755% 78.139%,44.75% 77.325%,44.745% 76.511%,44.739% 75.697%,44.733% 74.883%,44.727% 74.069%,44.721% 73.255%,44.715% 72.44%,44.709% 71.626%,44.709% 71.626%,44.709% 71.539%,44.708% 71.453%,44.707% 71.366%,44.706% 71.279%,44.705% 71.192%,44.704% 71.105%,44.703% 71.018%,44.702% 70.931%,44.701% 70.845%,44.7% 70.758%,44.7% 70.758%,44.69% 70.753%,44.68% 70.748%,44.67% 70.743%,44.66% 70.738%,44.65% 70.733%,44.64% 70.728%,44.63% 70.723%,44.62% 70.718%,44.61% 70.713%,44.6% 70.708%,44.6% 70.708%,44.569% 70.725%,44.539% 70.741%,44.508% 70.757%,44.477% 70.774%,44.446% 70.79%,44.415% 70.807%,44.385% 70.824%,44.356% 70.843%,44.327% 70.862%,44.299% 70.883%,44.299% 70.883%,43.753% 71.318%,43.207% 71.752%,42.661% 72.187%,42.115% 72.622%,41.569% 73.056%,41.024% 73.491%,40.478% 73.925%,39.933% 74.36%,39.387% 74.795%,38.842% 75.229%,38.842% 75.229%,38.168% 75.766%,37.494% 76.303%,36.82% 76.839%,36.146% 77.376%,35.472% 77.913%,34.798% 78.45%,34.124% 78.987%,33.45% 79.523%,32.775% 80.06%,32.101% 80.596%,32.101% 80.596%,31.428% 81.128%,30.756% 81.66%,30.083% 82.192%,29.411% 82.724%,28.738% 83.255%,28.065% 83.787%,27.392% 84.319%,26.72% 84.851%,26.047% 85.384%,25.375% 85.917%,25.375% 85.917%,24.939% 86.263%,24.503% 86.61%,24.068% 86.956%,23.633% 87.304%,23.198% 87.651%,22.764% 87.999%,22.33% 88.349%,21.897% 88.699%,21.464% 89.05%,21.033% 89.402%,21.033% 89.402%,20.938% 89.475%,20.843% 89.54%,20.746% 89.596%,20.649% 89.644%,20.55% 89.685%,20.448% 89.717%,20.345% 89.742%,20.239% 89.76%,20.13% 89.77%,20.018% 89.773%,20.018% 89.773%,19.386% 89.772%,18.754% 89.772%,18.122% 89.773%,17.49% 89.773%,16.857% 89.774%,16.225% 89.774%,15.593% 89.774%,14.96% 89.773%,14.328% 89.771%,13.696% 89.768%,13.696% 89.768%,13.232% 89.765%,12.768% 89.761%,12.304% 89.755%,11.841% 89.748%,11.377% 89.741%,10.913% 89.734%,10.449% 89.726%,9.985% 89.72%,9.521% 89.713%,9.057% 89.708%,9.057% 89.708%,8.941% 89.709%,8.824% 89.711%,8.708% 89.716%,8.591% 89.721%,8.474% 89.728%,8.358% 89.735%,8.241% 89.742%,8.124% 89.749%,8.008% 89.756%,7.891% 89.761%,7.891% 89.761%,7.857% 89.762%,7.823% 89.761%,7.789% 89.759%,7.755% 89.756%,7.721% 89.753%,7.687% 89.749%,7.653% 89.745%,7.619% 89.741%,7.584% 89.737%,7.55% 89.733%,7.55% 89.733%,7.549% 89.725%,7.548% 89.717%,7.546% 89.708%,7.545% 89.7%,7.544% 89.692%,7.542% 89.683%,7.541% 89.674%,7.54% 89.666%,7.538% 89.657%,7.537% 89.648%,7.537% 89.648%,8.329% 89.021%,9.121% 88.393%,9.914% 87.767%,10.706% 87.14%,11.499% 86.513%,12.291% 85.886%,13.083% 85.258%,13.874% 84.63%,14.665% 84.001%,15.455% 83.371%,15.455% 83.371%,16.251% 82.735%,17.045% 82.099%,17.84% 81.462%,18.634% 80.824%,19.428% 80.186%,20.221% 79.548%,21.015% 78.91%,21.81% 78.273%,22.605% 77.636%,23.4% 77%,23.4% 77%,24.192% 76.371%,24.986% 75.744%,25.781% 75.119%,26.576% 74.495%,27.372% 73.87%,28.166% 73.244%,28.959% 72.615%,29.749% 71.982%,30.535% 71.344%,31.318% 70.7%,31.318% 70.7%,31.314% 70.687%,31.31% 70.673%,31.306% 70.66%,31.301% 70.647%,31.297% 70.634%,31.293% 70.621%,31.288% 70.607%,31.284% 70.594%,31.28% 70.581%,31.276% 70.567%,31.276% 70.567%,31.242% 70.564%,31.209% 70.56%,31.176% 70.556%,31.143% 70.552%,31.11% 70.548%,31.077% 70.545%,31.043% 70.542%,31.01% 70.539%,30.977% 70.538%,30.944% 70.537%,30.944% 70.537%,28.831% 70.537%,26.719% 70.537%,24.606% 70.537%,22.494% 70.537%,20.382% 70.537%,18.269% 70.537%,16.157% 70.537%,14.045% 70.537%,11.932% 70.537%,9.82% 70.537%,9.82% 70.537%,9.63% 70.537%,9.44% 70.536%,9.25% 70.536%,9.06% 70.535%,8.87% 70.534%,8.68% 70.534%,8.49% 70.534%,8.3% 70.534%,8.11% 70.535%,7.92% 70.537%,7.92% 70.537%,7.844% 70.534%,7.772% 70.525%,7.705% 70.508%,7.64% 70.484%,7.579% 70.454%,7.52% 70.417%,7.463% 70.373%,7.407% 70.323%,7.352% 70.267%,7.296% 70.203%,7.296% 70.203%,7.048% 69.913%,6.799% 69.623%,6.549% 69.335%,6.298% 69.048%,6.046% 68.762%,5.793% 68.476%,5.54% 68.192%,5.286% 67.908%,5.032% 67.624%,4.777% 67.341%,4.777% 67.341%,4.358% 66.876%,3.939% 66.411%,3.52% 65.947%,3.1% 65.483%,2.68% 65.02%,2.26% 64.556%,1.839% 64.093%,1.419% 63.63%,0.998% 63.167%,0.577% 62.704%,0.577% 62.704%,0.519% 62.64%,0.46% 62.576%,0.401% 62.512%,0.343% 62.447%,0.284% 62.38%,0.226% 62.311%,0.169% 62.239%,0.113% 62.164%,0.058% 62.086%,0.004% 62.004%,0.004% 62.004%,0.471% 61.983%,0.936% 61.966%,1.4% 61.953%,1.863% 61.943%,2.326% 61.936%,2.788% 61.932%,3.249% 61.93%,3.711% 61.929%,4.171% 61.929%,4.632% 61.929%,4.632% 61.929%,5.1% 61.929%,5.567% 61.929%,6.035% 61.929%,6.503% 61.929%,6.971% 61.929%,7.439% 61.929%,7.906% 61.929%,8.374% 61.929%,8.842% 61.929%,9.309% 61.929%,13.995% 61.929%,13.995% 61.929%,13.995% 61.882%,13.995% 61.834%,13.995% 61.785%,13.995% 61.735%,13.995% 61.685%,13.995% 61.634%,13.995% 61.582%,13.995% 61.531%,13.995% 61.479%,13.995% 61.427%,13.995% 61.427%,13.995% 60.707%,13.995% 59.988%,13.995% 59.268%,13.995% 58.548%,13.995% 57.828%,13.995% 57.108%,13.995% 56.388%,13.995% 55.668%,13.995% 54.949%,13.995% 54.229%,13.995% 54.229%,13.996% 54.075%,14.002% 53.95%,14.015% 53.85%,14.037% 53.774%,14.073% 53.718%,14.124% 53.678%,14.193% 53.653%,14.284% 53.639%,14.398% 53.633%,14.539% 53.632%,14.539% 53.632%,14.941% 53.633%,15.343% 53.634%,15.745% 53.635%,16.147% 53.637%,16.549% 53.639%,16.95% 53.641%,17.352% 53.643%,17.754% 53.645%,18.156% 53.647%,18.558% 53.649%,18.558% 53.649%,19.83% 53.655%,21.101% 53.66%,22.373% 53.666%,23.644% 53.671%,24.916% 53.677%,26.187% 53.683%,27.459% 53.688%,28.731% 53.694%,30.002% 53.699%,31.274% 53.704%,31.274% 53.704%,31.306% 53.704%,31.339% 53.703%,31.372% 53.702%,31.404% 53.701%,31.437% 53.699%,31.47% 53.697%,31.503% 53.695%,31.537% 53.693%,31.571% 53.691%,31.606% 53.689%,31.606% 53.689%,31.613% 53.672%,31.621% 53.655%,31.63% 53.638%,31.637% 53.622%,31.645% 53.607%,31.652% 53.592%,31.658% 53.577%,31.662% 53.563%,31.665% 53.548%,31.666% 53.534%,31.666% 53.534%,31.666% 53.271%,31.667% 53.007%,31.667% 52.744%,31.668% 52.481%,31.668% 52.218%,31.666% 51.955%,31.664% 51.693%,31.66% 51.43%,31.654% 51.167%,31.646% 50.904%,31.646% 50.904%,31.641% 50.748%,31.641% 50.62%,31.649% 50.517%,31.666% 50.437%,31.697% 50.376%,31.743% 50.332%,31.807% 50.303%,31.893% 50.286%,32.002% 50.277%,32.138% 50.275%,32.138% 50.275%,32.873% 50.273%,33.607% 50.272%,34.342% 50.271%,35.076% 50.271%,35.811% 50.27%,36.546% 50.269%,37.28% 50.269%,38.015% 50.268%,38.749% 50.268%,39.484% 50.267%,39.484% 50.267%,39.541% 50.267%,39.598% 50.265%,39.656% 50.263%,39.716% 50.26%,39.777% 50.257%,39.841% 50.253%,39.907% 50.248%,39.976% 50.244%,40.049% 50.239%,40.126% 50.235%,40.126% 50.235%,40.102% 50.185%,40.08% 50.14%,40.059% 50.097%,40.041% 50.058%,40.023% 50.021%,40.006% 49.987%,39.99% 49.954%,39.974% 49.923%,39.958% 49.894%,39.941% 49.866%,39.941% 49.866%,39.395% 49.001%,38.849% 48.136%,38.303% 47.272%,37.757% 46.407%,37.211% 45.542%,36.665% 44.677%,36.12% 43.812%,35.574% 42.947%,35.03% 42.081%,34.486% 41.215%,34.486% 41.215%,33.826% 40.164%,33.167% 39.112%,32.508% 38.06%,31.85% 37.008%,31.191% 35.956%,30.533% 34.903%,29.875% 33.851%,29.216% 32.799%,28.558% 31.746%,27.899% 30.695%,27.899% 30.695%,27.538% 30.121%,27.177% 29.547%,26.815% 28.974%,26.453% 28.401%,26.091% 27.828%,25.728% 27.255%,25.365% 26.683%,25.002% 26.111%,24.639% 25.539%,24.276% 24.967%,24.276% 24.967%,24.185% 24.823%,24.094% 24.68%,24.002% 24.536%,23.91% 24.393%,23.818% 24.25%,23.725% 24.107%,23.632% 23.965%,23.539% 23.823%,23.445% 23.681%,23.351% 23.539%,23.351% 23.539%,23.295% 23.45%,23.245% 23.358%,23.201% 23.265%,23.163% 23.17%,23.131% 23.073%,23.105% 22.973%,23.085% 22.871%,23.07% 22.766%,23.062% 22.659%,23.059% 22.548%,23.059% 22.548%,23.06% 21.191%,23.061% 19.834%,23.061% 18.476%,23.061% 17.119%,23.061% 15.761%,23.06% 14.404%,23.06% 13.046%,23.059% 11.689%,23.059% 10.332%,23.059% 8.975%,23.059% 8.975%,23.06% 8.92%,23.062% 8.864%,23.066% 8.808%,23.071% 8.75%,23.077% 8.691%,23.084% 8.629%,23.091% 8.565%,23.098% 8.498%,23.106% 8.427%,23.112% 8.352%,23.112% 8.352%,24.812% 11.049%,26.51% 13.742%,28.205% 16.431%,29.898% 19.117%,31.59% 21.799%,33.279% 24.48%,34.968% 27.159%,36.656% 29.836%,38.343% 32.512%,40.03% 35.188%,40.03% 35.188%,40.041% 35.185%,40.053% 35.183%,40.064% 35.18%,40.075% 35.177%,40.087% 35.174%,40.099% 35.172%,40.11% 35.169%,40.122% 35.166%,40.134% 35.164%,40.146% 35.161%,40.146% 35.161%,40.154% 35.108%,40.163% 35.055%,40.172% 35.003%,40.181% 34.95%,40.19% 34.897%,40.198% 34.845%,40.205% 34.792%,40.21% 34.739%,40.213% 34.687%,40.213% 34.634%,40.213% 34.634%,40.209% 34.47%,40.203% 34.306%,40.197% 34.142%,40.189% 33.977%,40.181% 33.813%,40.174% 33.649%,40.167% 33.485%,40.162% 33.321%,40.158% 33.157%,40.157% 32.993%,40.157% 32.993%,40.156% 30.615%,40.155% 28.238%,40.155% 25.86%,40.154% 23.483%,40.154% 21.105%,40.153% 18.728%,40.152% 16.351%,40.151% 13.973%,40.149% 11.596%,40.146% 9.218%,40.146% 9.218%,40.15% 9.081%,40.164% 8.953%,40.186% 8.832%,40.217% 8.717%,40.256% 8.608%,40.305% 8.504%,40.362% 8.403%,40.427% 8.305%,40.501% 8.208%,40.583% 8.111%,40.583% 8.111%,41.109% 7.522%,41.633% 6.932%,42.158% 6.342%,42.681% 5.75%,43.204% 5.158%,43.727% 4.566%,44.249% 3.973%,44.772% 3.381%,45.294% 2.788%,45.817% 2.195%,45.817% 2.195%,45.984% 2.005%,46.151% 1.815%,46.317% 1.625%,46.483% 1.434%,46.65% 1.243%,46.816% 1.052%,46.982% 0.861%,47.148% 0.67%,47.315% 0.479%,47.482% 0.289%,47.482% 0.289%,47.504% 0.264%,47.527% 0.24%,47.551% 0.215%,47.576% 0.19%,47.604% 0.163%,47.634% 0.135%,47.666% 0.105%,47.701% 0.072%,47.739% 0.035%,47.781% -0.005%,47.781% 15.721%,47.781% 15.721%,47.845% 15.721%,47.906% 15.721%,47.966% 15.721%,48.024% 15.721%,48.08% 15.721%,48.135% 15.721%,48.19% 15.721%,48.243% 15.721%,48.296% 15.721%,48.349% 15.721%,48.349% 15.721%,48.941% 15.722%,49.533% 15.723%,50.125% 15.723%,50.717% 15.724%,51.31% 15.725%,51.902% 15.726%,52.494% 15.727%,53.086% 15.729%,53.678% 15.731%,54.27% 15.734%,54.27% 15.734%,54.499% 15.736%,54.682% 15.744%,54.825% 15.764%,54.932% 15.8%,55.009% 15.858%,55.061% 15.943%,55.092% 16.062%,55.108% 16.219%,55.114% 16.421%,55.115% 16.672%,55.115% 16.672%,55.115% 18.251%,55.115% 19.831%,55.115% 21.41%,55.116% 22.99%,55.116% 24.569%,55.117% 26.149%,55.117% 27.728%,55.118% 29.308%,55.119% 30.887%,55.119% 32.466%,55.119% 32.466%,55.12% 32.741%,55.12% 33.017%,55.12% 33.292%,55.121% 33.567%,55.121% 33.842%,55.12% 34.117%,55.119% 34.392%,55.117% 34.668%,55.114% 34.943%,55.11% 35.218%,55.11% 35.218%,55.112% 35.304%,55.12% 35.378%,55.134% 35.441%,55.156% 35.493%,55.185% 35.536%,55.223% 35.569%,55.269% 35.593%,55.325% 35.609%,55.391% 35.618%,55.467% 35.62%,55.467% 35.62%,55.694% 35.615%,55.921% 35.612%,56.147% 35.611%,56.374% 35.61%,56.6% 35.61%,56.827% 35.61%,57.053% 35.611%,57.28% 35.613%,57.506% 35.614%,57.732% 35.615%,57.732% 35.615%,57.843% 35.616%,57.934% 35.621%,58.005% 35.632%,58.061% 35.653%,58.101% 35.685%,58.13% 35.731%,58.149% 35.793%,58.16% 35.875%,58.165% 35.979%,58.167% 36.107%,58.167% 36.107%,58.168% 36.901%,58.169% 37.694%,58.171% 38.488%,58.172% 39.282%,58.173% 40.076%,58.174% 40.869%,58.175% 41.663%,58.175% 42.457%,58.175% 43.251%,58.176% 44.045%,58.176% 44.045%,58.175% 44.658%,58.174% 45.27%,58.173% 45.883%,58.17% 46.496%,58.168% 47.108%,58.166% 47.721%,58.163% 48.334%,58.16% 48.946%,58.158% 49.559%,58.156% 50.172%,58.156% 50.172%,58.156% 50.183%,58.157% 50.195%,58.159% 50.207%,58.162% 50.22%,58.166% 50.235%,58.17% 50.25%,58.174% 50.267%,58.179% 50.285%,58.184% 50.305%,58.189% 50.327%,58.189% 50.327%,58.223% 50.33%,58.256% 50.333%,58.29% 50.336%,58.325% 50.339%,58.359% 50.342%,58.394% 50.344%,58.429% 50.347%,58.464% 50.348%,58.499% 50.35%,58.535% 50.35%,58.535% 50.35%,59.043% 50.35%,59.551% 50.349%,60.059% 50.349%,60.567% 50.348%,61.075% 50.347%,61.583% 50.347%,62.091% 50.348%,62.599% 50.348%,63.107% 50.35%,63.615% 50.353%,63.615% 50.353%,64.302% 50.357%,64.989% 50.363%,65.675% 50.37%,66.362% 50.376%,67.049% 50.384%,67.736% 50.391%,68.423% 50.399%,69.109% 50.406%,69.796% 50.413%,70.483% 50.42%,70.483% 50.42%,70.531% 50.42%,70.578% 50.42%,70.626% 50.42%,70.673% 50.42%,70.72% 50.419%,70.768% 50.418%,70.815% 50.417%,70.863% 50.415%,70.91% 50.413%,70.958% 50.41%,70.958% 50.41%,71.051% 50.407%,71.127% 50.407%,71.188% 50.415%,71.236% 50.431%,71.271% 50.458%,71.296% 50.497%,71.313% 50.55%,71.323% 50.621%,71.328% 50.71%,71.33% 50.819%,71.33% 50.819%,71.331% 51.062%,71.332% 51.304%,71.333% 51.547%,71.334% 51.79%,71.334% 52.032%,71.334% 52.275%,71.335% 52.518%,71.335% 52.76%,71.335% 53.003%,71.335% 53.245%,71.335% 53.245%,71.335% 53.394%,71.339% 53.514%,71.348% 53.607%,71.366% 53.677%,71.395% 53.727%,71.44% 53.761%,71.501% 53.782%,71.583% 53.793%,71.689% 53.797%,71.821% 53.797%,71.821% 53.797%,72.953% 53.798%,74.086% 53.799%,75.219% 53.8%,76.352% 53.8%,77.485% 53.801%,78.618% 53.802%,79.751% 53.803%,80.884% 53.805%,82.017% 53.806%,83.149% 53.807%,83.149% 53.807%,83.679% 53.808%,84.209% 53.808%,84.739% 53.809%,85.269% 53.809%,85.799% 53.81%,86.329% 53.812%,86.859% 53.813%,87.389% 53.814%,87.919% 53.816%,88.448% 53.817%,88.448% 53.817%,88.581% 53.818%,88.688% 53.823%,88.771% 53.835%,88.835% 53.857%,88.881% 53.891%,88.912% 53.942%,88.932% 54.011%,88.943% 54.102%,88.947% 54.218%,88.948% 54.362%,88.948% 54.362%,88.948% 55.02%,88.948% 55.678%,88.947% 56.336%,88.947% 56.994%,88.947% 57.652%,88.947% 58.311%,88.946% 58.969%,88.945% 59.627%,88.944% 60.285%,88.943% 60.943%,88.943% 60.943%,88.943% 61.029%,88.942% 61.115%,88.94% 61.201%,88.937% 61.287%,88.933% 61.373%,88.929% 61.459%,88.924% 61.545%,88.919% 61.632%,88.912% 61.718%,88.905% 61.803%,88.905% 61.803%,88.903% 61.863%,88.905% 61.917%,88.913% 61.964%,88.927% 62.005%,88.947% 62.04%,88.973% 62.068%,89.005% 62.091%,89.043% 62.109%,89.088% 62.121%,89.139% 62.127%,89.139% 62.127%,89.223% 62.134%,89.307% 62.141%,89.391% 62.148%,89.474% 62.155%,89.558% 62.163%,89.642% 62.169%,89.726% 62.175%,89.81% 62.18%,89.894% 62.183%,89.977% 62.185%,89.977% 62.185%,90.946% 62.187%,91.914% 62.189%,92.883% 62.19%,93.851% 62.191%,94.819% 62.192%,95.788% 62.193%,96.756% 62.194%,97.724% 62.195%,98.693% 62.196%,99.661% 62.197%,99.661% 62.197%,99.692% 62.198%,99.723% 62.199%,99.755% 62.201%,99.787% 62.204%,99.82% 62.208%,99.854% 62.211%,99.89% 62.215%,99.928% 62.22%,99.967% 62.224%,100.009% 62.227% );
    -webkit-clip-path: polygon(100% 62.227%,100% 62.227%,99.987% 62.255%,99.976% 62.28%,99.966% 62.302%,99.957% 62.323%,99.95% 62.342%,99.942% 62.358%,99.935% 62.374%,99.928% 62.387%,99.92% 62.4%,99.911% 62.411%,99.911% 62.411%,99.548% 62.81%,99.185% 63.21%,98.822% 63.61%,98.459% 64.009%,98.096% 64.409%,97.733% 64.809%,97.37% 65.208%,97.007% 65.608%,96.644% 66.008%,96.282% 66.407%,96.282% 66.407%,95.945% 66.778%,95.608% 67.149%,95.271% 67.52%,94.933% 67.891%,94.597% 68.262%,94.26% 68.634%,93.925% 69.007%,93.591% 69.381%,93.258% 69.756%,92.927% 70.133%,92.927% 70.133%,92.796% 70.272%,92.663% 70.394%,92.526% 70.499%,92.385% 70.587%,92.239% 70.658%,92.088% 70.713%,91.931% 70.752%,91.768% 70.775%,91.599% 70.782%,91.422% 70.773%,91.422% 70.773%,91.258% 70.759%,91.094% 70.748%,90.93% 70.739%,90.766% 70.733%,90.601% 70.728%,90.437% 70.724%,90.273% 70.721%,90.108% 70.72%,89.944% 70.719%,89.779% 70.718%,89.779% 70.718%,87.817% 70.716%,85.855% 70.714%,83.892% 70.712%,81.93% 70.711%,79.967% 70.709%,78.005% 70.708%,76.042% 70.706%,74.08% 70.704%,72.118% 70.702%,70.155% 70.7%,70.155% 70.7%,70.046% 70.699%,69.936% 70.696%,69.827% 70.69%,69.717% 70.684%,69.608% 70.677%,69.499% 70.67%,69.389% 70.663%,69.28% 70.657%,69.17% 70.653%,69.061% 70.65%,69.061% 70.65%,69.016% 70.652%,68.971% 70.656%,68.926% 70.662%,68.882% 70.67%,68.837% 70.679%,68.792% 70.689%,68.747% 70.699%,68.702% 70.709%,68.658% 70.719%,68.613% 70.728%,68.613% 70.728%,68.611% 70.738%,68.61% 70.747%,68.608% 70.757%,68.607% 70.766%,68.605% 70.776%,68.603% 70.785%,68.602% 70.794%,68.6% 70.804%,68.599% 70.813%,68.597% 70.823%,68.597% 70.823%,70.986% 72.728%,73.375% 74.634%,75.766% 76.54%,78.157% 78.447%,80.55% 80.356%,82.944% 82.265%,85.341% 84.177%,87.739% 86.09%,90.141% 88.006%,92.546% 89.924%,92.546% 89.924%,92.508% 89.938%,92.475% 89.951%,92.446% 89.963%,92.42% 89.974%,92.397% 89.983%,92.377% 89.991%,92.358% 89.998%,92.341% 90.003%,92.325% 90.006%,92.309% 90.007%,92.309% 90.007%,91.992% 90.003%,91.674% 89.998%,91.356% 89.994%,91.039% 89.989%,90.721% 89.985%,90.403% 89.98%,90.086% 89.975%,89.768% 89.971%,89.45% 89.967%,89.133% 89.964%,89.133% 89.964%,88.201% 89.955%,87.269% 89.946%,86.338% 89.937%,85.406% 89.928%,84.475% 89.919%,83.543% 89.91%,82.612% 89.902%,81.68% 89.895%,80.748% 89.888%,79.817% 89.881%,79.817% 89.881%,79.702% 89.876%,79.593% 89.86%,79.488% 89.836%,79.387% 89.802%,79.289% 89.761%,79.193% 89.713%,79.099% 89.657%,79.007% 89.595%,78.915% 89.528%,78.823% 89.455%,78.823% 89.455%,78.363% 89.082%,77.903% 88.71%,77.443% 88.34%,76.981% 87.97%,76.519% 87.601%,76.057% 87.232%,75.595% 86.864%,75.133% 86.496%,74.67% 86.129%,74.208% 85.762%,74.208% 85.762%,72.925% 84.741%,71.641% 83.721%,70.358% 82.701%,69.075% 81.681%,67.791% 80.661%,66.508% 79.641%,65.225% 78.621%,63.941% 77.601%,62.658% 76.581%,61.375% 75.56%,61.375% 75.56%,61.076% 75.323%,60.778% 75.085%,60.481% 74.847%,60.183% 74.609%,59.885% 74.371%,59.588% 74.132%,59.29% 73.894%,58.992% 73.655%,58.694% 73.417%,58.396% 73.179%,58.396% 73.179%,58.385% 73.171%,58.373% 73.164%,58.359% 73.157%,58.344% 73.151%,58.327% 73.146%,58.309% 73.14%,58.289% 73.133%,58.266% 73.125%,58.241% 73.117%,58.214% 73.106%,58.214% 73.106%,58.208% 73.165%,58.202% 73.222%,58.196% 73.277%,58.19% 73.332%,58.185% 73.385%,58.179% 73.437%,58.175% 73.489%,58.172% 73.54%,58.17% 73.59%,58.169% 73.641%,58.169% 73.641%,58.169% 74.245%,58.169% 74.85%,58.17% 75.455%,58.171% 76.059%,58.171% 76.664%,58.172% 77.269%,58.173% 77.874%,58.174% 78.478%,58.175% 79.083%,58.176% 79.687%,58.176% 79.687%,58.175% 79.824%,58.172% 79.932%,58.164% 80.016%,58.147% 80.079%,58.12% 80.123%,58.079% 80.151%,58.023% 80.168%,57.947% 80.175%,57.851% 80.176%,57.73% 80.174%,57.73% 80.174%,57.518% 80.171%,57.306% 80.168%,57.094% 80.166%,56.882% 80.164%,56.67% 80.163%,56.458% 80.162%,56.246% 80.161%,56.034% 80.16%,55.822% 80.16%,55.61% 80.159%,55.61% 80.159%,55.491% 80.16%,55.395% 80.164%,55.32% 80.174%,55.264% 80.193%,55.224% 80.225%,55.196% 80.272%,55.18% 80.337%,55.171% 80.423%,55.168% 80.533%,55.168% 80.671%,55.168% 80.671%,55.17% 81.831%,55.171% 82.991%,55.172% 84.151%,55.174% 85.31%,55.175% 86.47%,55.176% 87.63%,55.177% 88.79%,55.178% 89.95%,55.179% 91.11%,55.18% 92.27%,55.18% 92.27%,55.18% 92.965%,55.18% 93.66%,55.18% 94.355%,55.18% 95.05%,55.18% 95.745%,55.181% 96.44%,55.181% 97.135%,55.182% 97.83%,55.183% 98.525%,55.184% 99.22%,55.184% 99.22%,55.184% 99.43%,55.179% 99.598%,55.167% 99.729%,55.141% 99.828%,55.1% 99.898%,55.037% 99.945%,54.948% 99.974%,54.83% 99.989%,54.679% 99.994%,54.489% 99.995%,54.489% 99.995%,53.878% 99.995%,53.268% 99.995%,52.657% 99.995%,52.047% 99.995%,51.437% 99.995%,50.826% 99.995%,50.216% 99.995%,49.606% 99.995%,48.995% 99.995%,48.385% 99.995%,48.385% 99.995%,48.23% 99.994%,48.107% 99.99%,48.011% 99.978%,47.94% 99.955%,47.889% 99.916%,47.856% 99.858%,47.837% 99.778%,47.828% 99.671%,47.825% 99.534%,47.825% 99.363%,47.825% 99.363%,47.827% 98.984%,47.828% 98.606%,47.828% 98.227%,47.828% 97.849%,47.828% 97.471%,47.827% 97.093%,47.827% 96.714%,47.826% 96.336%,47.826% 95.958%,47.825% 95.579%,47.825% 95.579%,47.826% 94.296%,47.826% 93.013%,47.826% 91.729%,47.827% 90.446%,47.827% 89.163%,47.827% 87.879%,47.827% 86.596%,47.827% 85.312%,47.826% 84.029%,47.825% 82.746%,47.825% 82.746%,47.825% 82.52%,47.823% 82.294%,47.821% 82.068%,47.817% 81.843%,47.814% 81.617%,47.81% 81.391%,47.807% 81.165%,47.804% 80.939%,47.802% 80.714%,47.801% 80.488%,47.801% 80.488%,47.796% 80.407%,47.784% 80.341%,47.763% 80.287%,47.735% 80.245%,47.7% 80.213%,47.659% 80.19%,47.613% 80.175%,47.561% 80.165%,47.505% 80.16%,47.444% 80.159%,47.444% 80.159%,47.214% 80.159%,46.984% 80.159%,46.754% 80.159%,46.523% 80.158%,46.293% 80.157%,46.062% 80.157%,45.832% 80.156%,45.602% 80.156%,45.372% 80.157%,45.141% 80.159%,45.141% 80.159%,45.069% 80.157%,45.005% 80.15%,44.948% 80.136%,44.899% 80.114%,44.857% 80.084%,44.824% 80.044%,44.797% 79.993%,44.778% 79.931%,44.767% 79.856%,44.762% 79.768%,44.762% 79.768%,44.759% 78.953%,44.755% 78.139%,44.75% 77.325%,44.745% 76.511%,44.739% 75.697%,44.733% 74.883%,44.727% 74.069%,44.721% 73.255%,44.715% 72.44%,44.709% 71.626%,44.709% 71.626%,44.709% 71.539%,44.708% 71.453%,44.707% 71.366%,44.706% 71.279%,44.705% 71.192%,44.704% 71.105%,44.703% 71.018%,44.702% 70.931%,44.701% 70.845%,44.7% 70.758%,44.7% 70.758%,44.69% 70.753%,44.68% 70.748%,44.67% 70.743%,44.66% 70.738%,44.65% 70.733%,44.64% 70.728%,44.63% 70.723%,44.62% 70.718%,44.61% 70.713%,44.6% 70.708%,44.6% 70.708%,44.569% 70.725%,44.539% 70.741%,44.508% 70.757%,44.477% 70.774%,44.446% 70.79%,44.415% 70.807%,44.385% 70.824%,44.356% 70.843%,44.327% 70.862%,44.299% 70.883%,44.299% 70.883%,43.753% 71.318%,43.207% 71.752%,42.661% 72.187%,42.115% 72.622%,41.569% 73.056%,41.024% 73.491%,40.478% 73.925%,39.933% 74.36%,39.387% 74.795%,38.842% 75.229%,38.842% 75.229%,38.168% 75.766%,37.494% 76.303%,36.82% 76.839%,36.146% 77.376%,35.472% 77.913%,34.798% 78.45%,34.124% 78.987%,33.45% 79.523%,32.775% 80.06%,32.101% 80.596%,32.101% 80.596%,31.428% 81.128%,30.756% 81.66%,30.083% 82.192%,29.411% 82.724%,28.738% 83.255%,28.065% 83.787%,27.392% 84.319%,26.72% 84.851%,26.047% 85.384%,25.375% 85.917%,25.375% 85.917%,24.939% 86.263%,24.503% 86.61%,24.068% 86.956%,23.633% 87.304%,23.198% 87.651%,22.764% 87.999%,22.33% 88.349%,21.897% 88.699%,21.464% 89.05%,21.033% 89.402%,21.033% 89.402%,20.938% 89.475%,20.843% 89.54%,20.746% 89.596%,20.649% 89.644%,20.55% 89.685%,20.448% 89.717%,20.345% 89.742%,20.239% 89.76%,20.13% 89.77%,20.018% 89.773%,20.018% 89.773%,19.386% 89.772%,18.754% 89.772%,18.122% 89.773%,17.49% 89.773%,16.857% 89.774%,16.225% 89.774%,15.593% 89.774%,14.96% 89.773%,14.328% 89.771%,13.696% 89.768%,13.696% 89.768%,13.232% 89.765%,12.768% 89.761%,12.304% 89.755%,11.841% 89.748%,11.377% 89.741%,10.913% 89.734%,10.449% 89.726%,9.985% 89.72%,9.521% 89.713%,9.057% 89.708%,9.057% 89.708%,8.941% 89.709%,8.824% 89.711%,8.708% 89.716%,8.591% 89.721%,8.474% 89.728%,8.358% 89.735%,8.241% 89.742%,8.124% 89.749%,8.008% 89.756%,7.891% 89.761%,7.891% 89.761%,7.857% 89.762%,7.823% 89.761%,7.789% 89.759%,7.755% 89.756%,7.721% 89.753%,7.687% 89.749%,7.653% 89.745%,7.619% 89.741%,7.584% 89.737%,7.55% 89.733%,7.55% 89.733%,7.549% 89.725%,7.548% 89.717%,7.546% 89.708%,7.545% 89.7%,7.544% 89.692%,7.542% 89.683%,7.541% 89.674%,7.54% 89.666%,7.538% 89.657%,7.537% 89.648%,7.537% 89.648%,8.329% 89.021%,9.121% 88.393%,9.914% 87.767%,10.706% 87.14%,11.499% 86.513%,12.291% 85.886%,13.083% 85.258%,13.874% 84.63%,14.665% 84.001%,15.455% 83.371%,15.455% 83.371%,16.251% 82.735%,17.045% 82.099%,17.84% 81.462%,18.634% 80.824%,19.428% 80.186%,20.221% 79.548%,21.015% 78.91%,21.81% 78.273%,22.605% 77.636%,23.4% 77%,23.4% 77%,24.192% 76.371%,24.986% 75.744%,25.781% 75.119%,26.576% 74.495%,27.372% 73.87%,28.166% 73.244%,28.959% 72.615%,29.749% 71.982%,30.535% 71.344%,31.318% 70.7%,31.318% 70.7%,31.314% 70.687%,31.31% 70.673%,31.306% 70.66%,31.301% 70.647%,31.297% 70.634%,31.293% 70.621%,31.288% 70.607%,31.284% 70.594%,31.28% 70.581%,31.276% 70.567%,31.276% 70.567%,31.242% 70.564%,31.209% 70.56%,31.176% 70.556%,31.143% 70.552%,31.11% 70.548%,31.077% 70.545%,31.043% 70.542%,31.01% 70.539%,30.977% 70.538%,30.944% 70.537%,30.944% 70.537%,28.831% 70.537%,26.719% 70.537%,24.606% 70.537%,22.494% 70.537%,20.382% 70.537%,18.269% 70.537%,16.157% 70.537%,14.045% 70.537%,11.932% 70.537%,9.82% 70.537%,9.82% 70.537%,9.63% 70.537%,9.44% 70.536%,9.25% 70.536%,9.06% 70.535%,8.87% 70.534%,8.68% 70.534%,8.49% 70.534%,8.3% 70.534%,8.11% 70.535%,7.92% 70.537%,7.92% 70.537%,7.844% 70.534%,7.772% 70.525%,7.705% 70.508%,7.64% 70.484%,7.579% 70.454%,7.52% 70.417%,7.463% 70.373%,7.407% 70.323%,7.352% 70.267%,7.296% 70.203%,7.296% 70.203%,7.048% 69.913%,6.799% 69.623%,6.549% 69.335%,6.298% 69.048%,6.046% 68.762%,5.793% 68.476%,5.54% 68.192%,5.286% 67.908%,5.032% 67.624%,4.777% 67.341%,4.777% 67.341%,4.358% 66.876%,3.939% 66.411%,3.52% 65.947%,3.1% 65.483%,2.68% 65.02%,2.26% 64.556%,1.839% 64.093%,1.419% 63.63%,0.998% 63.167%,0.577% 62.704%,0.577% 62.704%,0.519% 62.64%,0.46% 62.576%,0.401% 62.512%,0.343% 62.447%,0.284% 62.38%,0.226% 62.311%,0.169% 62.239%,0.113% 62.164%,0.058% 62.086%,0.004% 62.004%,0.004% 62.004%,0.471% 61.983%,0.936% 61.966%,1.4% 61.953%,1.863% 61.943%,2.326% 61.936%,2.788% 61.932%,3.249% 61.93%,3.711% 61.929%,4.171% 61.929%,4.632% 61.929%,4.632% 61.929%,5.1% 61.929%,5.567% 61.929%,6.035% 61.929%,6.503% 61.929%,6.971% 61.929%,7.439% 61.929%,7.906% 61.929%,8.374% 61.929%,8.842% 61.929%,9.309% 61.929%,13.995% 61.929%,13.995% 61.929%,13.995% 61.882%,13.995% 61.834%,13.995% 61.785%,13.995% 61.735%,13.995% 61.685%,13.995% 61.634%,13.995% 61.582%,13.995% 61.531%,13.995% 61.479%,13.995% 61.427%,13.995% 61.427%,13.995% 60.707%,13.995% 59.988%,13.995% 59.268%,13.995% 58.548%,13.995% 57.828%,13.995% 57.108%,13.995% 56.388%,13.995% 55.668%,13.995% 54.949%,13.995% 54.229%,13.995% 54.229%,13.996% 54.075%,14.002% 53.95%,14.015% 53.85%,14.037% 53.774%,14.073% 53.718%,14.124% 53.678%,14.193% 53.653%,14.284% 53.639%,14.398% 53.633%,14.539% 53.632%,14.539% 53.632%,14.941% 53.633%,15.343% 53.634%,15.745% 53.635%,16.147% 53.637%,16.549% 53.639%,16.95% 53.641%,17.352% 53.643%,17.754% 53.645%,18.156% 53.647%,18.558% 53.649%,18.558% 53.649%,19.83% 53.655%,21.101% 53.66%,22.373% 53.666%,23.644% 53.671%,24.916% 53.677%,26.187% 53.683%,27.459% 53.688%,28.731% 53.694%,30.002% 53.699%,31.274% 53.704%,31.274% 53.704%,31.306% 53.704%,31.339% 53.703%,31.372% 53.702%,31.404% 53.701%,31.437% 53.699%,31.47% 53.697%,31.503% 53.695%,31.537% 53.693%,31.571% 53.691%,31.606% 53.689%,31.606% 53.689%,31.613% 53.672%,31.621% 53.655%,31.63% 53.638%,31.637% 53.622%,31.645% 53.607%,31.652% 53.592%,31.658% 53.577%,31.662% 53.563%,31.665% 53.548%,31.666% 53.534%,31.666% 53.534%,31.666% 53.271%,31.667% 53.007%,31.667% 52.744%,31.668% 52.481%,31.668% 52.218%,31.666% 51.955%,31.664% 51.693%,31.66% 51.43%,31.654% 51.167%,31.646% 50.904%,31.646% 50.904%,31.641% 50.748%,31.641% 50.62%,31.649% 50.517%,31.666% 50.437%,31.697% 50.376%,31.743% 50.332%,31.807% 50.303%,31.893% 50.286%,32.002% 50.277%,32.138% 50.275%,32.138% 50.275%,32.873% 50.273%,33.607% 50.272%,34.342% 50.271%,35.076% 50.271%,35.811% 50.27%,36.546% 50.269%,37.28% 50.269%,38.015% 50.268%,38.749% 50.268%,39.484% 50.267%,39.484% 50.267%,39.541% 50.267%,39.598% 50.265%,39.656% 50.263%,39.716% 50.26%,39.777% 50.257%,39.841% 50.253%,39.907% 50.248%,39.976% 50.244%,40.049% 50.239%,40.126% 50.235%,40.126% 50.235%,40.102% 50.185%,40.08% 50.14%,40.059% 50.097%,40.041% 50.058%,40.023% 50.021%,40.006% 49.987%,39.99% 49.954%,39.974% 49.923%,39.958% 49.894%,39.941% 49.866%,39.941% 49.866%,39.395% 49.001%,38.849% 48.136%,38.303% 47.272%,37.757% 46.407%,37.211% 45.542%,36.665% 44.677%,36.12% 43.812%,35.574% 42.947%,35.03% 42.081%,34.486% 41.215%,34.486% 41.215%,33.826% 40.164%,33.167% 39.112%,32.508% 38.06%,31.85% 37.008%,31.191% 35.956%,30.533% 34.903%,29.875% 33.851%,29.216% 32.799%,28.558% 31.746%,27.899% 30.695%,27.899% 30.695%,27.538% 30.121%,27.177% 29.547%,26.815% 28.974%,26.453% 28.401%,26.091% 27.828%,25.728% 27.255%,25.365% 26.683%,25.002% 26.111%,24.639% 25.539%,24.276% 24.967%,24.276% 24.967%,24.185% 24.823%,24.094% 24.68%,24.002% 24.536%,23.91% 24.393%,23.818% 24.25%,23.725% 24.107%,23.632% 23.965%,23.539% 23.823%,23.445% 23.681%,23.351% 23.539%,23.351% 23.539%,23.295% 23.45%,23.245% 23.358%,23.201% 23.265%,23.163% 23.17%,23.131% 23.073%,23.105% 22.973%,23.085% 22.871%,23.07% 22.766%,23.062% 22.659%,23.059% 22.548%,23.059% 22.548%,23.06% 21.191%,23.061% 19.834%,23.061% 18.476%,23.061% 17.119%,23.061% 15.761%,23.06% 14.404%,23.06% 13.046%,23.059% 11.689%,23.059% 10.332%,23.059% 8.975%,23.059% 8.975%,23.06% 8.92%,23.062% 8.864%,23.066% 8.808%,23.071% 8.75%,23.077% 8.691%,23.084% 8.629%,23.091% 8.565%,23.098% 8.498%,23.106% 8.427%,23.112% 8.352%,23.112% 8.352%,24.812% 11.049%,26.51% 13.742%,28.205% 16.431%,29.898% 19.117%,31.59% 21.799%,33.279% 24.48%,34.968% 27.159%,36.656% 29.836%,38.343% 32.512%,40.03% 35.188%,40.03% 35.188%,40.041% 35.185%,40.053% 35.183%,40.064% 35.18%,40.075% 35.177%,40.087% 35.174%,40.099% 35.172%,40.11% 35.169%,40.122% 35.166%,40.134% 35.164%,40.146% 35.161%,40.146% 35.161%,40.154% 35.108%,40.163% 35.055%,40.172% 35.003%,40.181% 34.95%,40.19% 34.897%,40.198% 34.845%,40.205% 34.792%,40.21% 34.739%,40.213% 34.687%,40.213% 34.634%,40.213% 34.634%,40.209% 34.47%,40.203% 34.306%,40.197% 34.142%,40.189% 33.977%,40.181% 33.813%,40.174% 33.649%,40.167% 33.485%,40.162% 33.321%,40.158% 33.157%,40.157% 32.993%,40.157% 32.993%,40.156% 30.615%,40.155% 28.238%,40.155% 25.86%,40.154% 23.483%,40.154% 21.105%,40.153% 18.728%,40.152% 16.351%,40.151% 13.973%,40.149% 11.596%,40.146% 9.218%,40.146% 9.218%,40.15% 9.081%,40.164% 8.953%,40.186% 8.832%,40.217% 8.717%,40.256% 8.608%,40.305% 8.504%,40.362% 8.403%,40.427% 8.305%,40.501% 8.208%,40.583% 8.111%,40.583% 8.111%,41.109% 7.522%,41.633% 6.932%,42.158% 6.342%,42.681% 5.75%,43.204% 5.158%,43.727% 4.566%,44.249% 3.973%,44.772% 3.381%,45.294% 2.788%,45.817% 2.195%,45.817% 2.195%,45.984% 2.005%,46.151% 1.815%,46.317% 1.625%,46.483% 1.434%,46.65% 1.243%,46.816% 1.052%,46.982% 0.861%,47.148% 0.67%,47.315% 0.479%,47.482% 0.289%,47.482% 0.289%,47.504% 0.264%,47.527% 0.24%,47.551% 0.215%,47.576% 0.19%,47.604% 0.163%,47.634% 0.135%,47.666% 0.105%,47.701% 0.072%,47.739% 0.035%,47.781% -0.005%,47.781% 15.721%,47.781% 15.721%,47.845% 15.721%,47.906% 15.721%,47.966% 15.721%,48.024% 15.721%,48.08% 15.721%,48.135% 15.721%,48.19% 15.721%,48.243% 15.721%,48.296% 15.721%,48.349% 15.721%,48.349% 15.721%,48.941% 15.722%,49.533% 15.723%,50.125% 15.723%,50.717% 15.724%,51.31% 15.725%,51.902% 15.726%,52.494% 15.727%,53.086% 15.729%,53.678% 15.731%,54.27% 15.734%,54.27% 15.734%,54.499% 15.736%,54.682% 15.744%,54.825% 15.764%,54.932% 15.8%,55.009% 15.858%,55.061% 15.943%,55.092% 16.062%,55.108% 16.219%,55.114% 16.421%,55.115% 16.672%,55.115% 16.672%,55.115% 18.251%,55.115% 19.831%,55.115% 21.41%,55.116% 22.99%,55.116% 24.569%,55.117% 26.149%,55.117% 27.728%,55.118% 29.308%,55.119% 30.887%,55.119% 32.466%,55.119% 32.466%,55.12% 32.741%,55.12% 33.017%,55.12% 33.292%,55.121% 33.567%,55.121% 33.842%,55.12% 34.117%,55.119% 34.392%,55.117% 34.668%,55.114% 34.943%,55.11% 35.218%,55.11% 35.218%,55.112% 35.304%,55.12% 35.378%,55.134% 35.441%,55.156% 35.493%,55.185% 35.536%,55.223% 35.569%,55.269% 35.593%,55.325% 35.609%,55.391% 35.618%,55.467% 35.62%,55.467% 35.62%,55.694% 35.615%,55.921% 35.612%,56.147% 35.611%,56.374% 35.61%,56.6% 35.61%,56.827% 35.61%,57.053% 35.611%,57.28% 35.613%,57.506% 35.614%,57.732% 35.615%,57.732% 35.615%,57.843% 35.616%,57.934% 35.621%,58.005% 35.632%,58.061% 35.653%,58.101% 35.685%,58.13% 35.731%,58.149% 35.793%,58.16% 35.875%,58.165% 35.979%,58.167% 36.107%,58.167% 36.107%,58.168% 36.901%,58.169% 37.694%,58.171% 38.488%,58.172% 39.282%,58.173% 40.076%,58.174% 40.869%,58.175% 41.663%,58.175% 42.457%,58.175% 43.251%,58.176% 44.045%,58.176% 44.045%,58.175% 44.658%,58.174% 45.27%,58.173% 45.883%,58.17% 46.496%,58.168% 47.108%,58.166% 47.721%,58.163% 48.334%,58.16% 48.946%,58.158% 49.559%,58.156% 50.172%,58.156% 50.172%,58.156% 50.183%,58.157% 50.195%,58.159% 50.207%,58.162% 50.22%,58.166% 50.235%,58.17% 50.25%,58.174% 50.267%,58.179% 50.285%,58.184% 50.305%,58.189% 50.327%,58.189% 50.327%,58.223% 50.33%,58.256% 50.333%,58.29% 50.336%,58.325% 50.339%,58.359% 50.342%,58.394% 50.344%,58.429% 50.347%,58.464% 50.348%,58.499% 50.35%,58.535% 50.35%,58.535% 50.35%,59.043% 50.35%,59.551% 50.349%,60.059% 50.349%,60.567% 50.348%,61.075% 50.347%,61.583% 50.347%,62.091% 50.348%,62.599% 50.348%,63.107% 50.35%,63.615% 50.353%,63.615% 50.353%,64.302% 50.357%,64.989% 50.363%,65.675% 50.37%,66.362% 50.376%,67.049% 50.384%,67.736% 50.391%,68.423% 50.399%,69.109% 50.406%,69.796% 50.413%,70.483% 50.42%,70.483% 50.42%,70.531% 50.42%,70.578% 50.42%,70.626% 50.42%,70.673% 50.42%,70.72% 50.419%,70.768% 50.418%,70.815% 50.417%,70.863% 50.415%,70.91% 50.413%,70.958% 50.41%,70.958% 50.41%,71.051% 50.407%,71.127% 50.407%,71.188% 50.415%,71.236% 50.431%,71.271% 50.458%,71.296% 50.497%,71.313% 50.55%,71.323% 50.621%,71.328% 50.71%,71.33% 50.819%,71.33% 50.819%,71.331% 51.062%,71.332% 51.304%,71.333% 51.547%,71.334% 51.79%,71.334% 52.032%,71.334% 52.275%,71.335% 52.518%,71.335% 52.76%,71.335% 53.003%,71.335% 53.245%,71.335% 53.245%,71.335% 53.394%,71.339% 53.514%,71.348% 53.607%,71.366% 53.677%,71.395% 53.727%,71.44% 53.761%,71.501% 53.782%,71.583% 53.793%,71.689% 53.797%,71.821% 53.797%,71.821% 53.797%,72.953% 53.798%,74.086% 53.799%,75.219% 53.8%,76.352% 53.8%,77.485% 53.801%,78.618% 53.802%,79.751% 53.803%,80.884% 53.805%,82.017% 53.806%,83.149% 53.807%,83.149% 53.807%,83.679% 53.808%,84.209% 53.808%,84.739% 53.809%,85.269% 53.809%,85.799% 53.81%,86.329% 53.812%,86.859% 53.813%,87.389% 53.814%,87.919% 53.816%,88.448% 53.817%,88.448% 53.817%,88.581% 53.818%,88.688% 53.823%,88.771% 53.835%,88.835% 53.857%,88.881% 53.891%,88.912% 53.942%,88.932% 54.011%,88.943% 54.102%,88.947% 54.218%,88.948% 54.362%,88.948% 54.362%,88.948% 55.02%,88.948% 55.678%,88.947% 56.336%,88.947% 56.994%,88.947% 57.652%,88.947% 58.311%,88.946% 58.969%,88.945% 59.627%,88.944% 60.285%,88.943% 60.943%,88.943% 60.943%,88.943% 61.029%,88.942% 61.115%,88.94% 61.201%,88.937% 61.287%,88.933% 61.373%,88.929% 61.459%,88.924% 61.545%,88.919% 61.632%,88.912% 61.718%,88.905% 61.803%,88.905% 61.803%,88.903% 61.863%,88.905% 61.917%,88.913% 61.964%,88.927% 62.005%,88.947% 62.04%,88.973% 62.068%,89.005% 62.091%,89.043% 62.109%,89.088% 62.121%,89.139% 62.127%,89.139% 62.127%,89.223% 62.134%,89.307% 62.141%,89.391% 62.148%,89.474% 62.155%,89.558% 62.163%,89.642% 62.169%,89.726% 62.175%,89.81% 62.18%,89.894% 62.183%,89.977% 62.185%,89.977% 62.185%,90.946% 62.187%,91.914% 62.189%,92.883% 62.19%,93.851% 62.191%,94.819% 62.192%,95.788% 62.193%,96.756% 62.194%,97.724% 62.195%,98.693% 62.196%,99.661% 62.197%,99.661% 62.197%,99.692% 62.198%,99.723% 62.199%,99.755% 62.201%,99.787% 62.204%,99.82% 62.208%,99.854% 62.211%,99.89% 62.215%,99.928% 62.22%,99.967% 62.224%,100.009% 62.227% );
  width: 500px;
  height: 500px;
  position: absolute;
  top: 40px;
}

#pageTitle {
    background-color: red;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    height: 200px;
    text-align: center;
    z-index: 4;
    display: flex;
    align-items: center;
    width: 100%;
}

header img{
    width: 30px;
}

#headerHomeCard {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 30%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 80px;
    padding-bottom: 40px;
    height: 160px;
    top: -60px;
    transition: top 0.25s;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: red;
    background: rgba(255, 255, 255, 0.3);
    align-items: center;
}

#headerHomeCard a {
    font-family: "Rubik Mono One", monospace;
    text-align: center;
    font-size: 26px;
    padding-bottom: 5px;
}

#headerHomeCard:hover {
    top: 0;
    background: red;
    box-shadow: initial;
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

@keyframes snakeIn {

    from {
        transform: rotate(0deg);
        transform-origin: center;
    }

    to {
        transform: rotate(-180deg);
        transform-origin: center;
    }
}

@keyframes snakeOut {

    from {
        transform: rotate(-180deg);
        transform-origin: center;
    }

    to {
        transform: rotate(0deg);
        transform-origin: center;
    }
}

.snakeMove{
    animation: snakeIn 1s forwards;
}

.snakeReturn{
    animation: snakeOut 1s forwards;
}


h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    padding: 10px 60px 0;
    font-size: 100px;
    color: red;
}

h2 {
    position: relative;
    left: -10px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    padding: 20px 0;
    text-align: left;
    margin: 0;
    color: black;
}

h3 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 3.2rem;
    font-style: normal;
    text-align: right;
    margin: 0;
    color: red;
    overflow-wrap: anywhere;
}

li,
p {
    line-height: 1.5;
}

#mainPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 110px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainPage svg{
    width: 100%;
}

#drawableArrow {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#footerMenu {
    position: fixed;
    width: 100%;
    bottom: -360px;
    background-color: red;
    height: 480px;
    left: 0;
    right: 0;
    transition: bottom 0.25s;
    margin: 0 auto;
    text-align: center;
}

#footerMenu img{
    width: 200px;
    position: absolute;
    left: 20px;
    top:40px;
    opacity: 0;
}

#footerMenu #mirrorImg{
    width: 200px;
    position: absolute;
    left: initial;
    right: 20px;
    opacity: 0;
    transform: scaleX(-1);
}

#footerMenu.footerActive{
    bottom: 0;
}

#footerMenu.footerActive img, #footerMenu.footerActive #mirrorImg{
    opacity: 1;
}

#footerMenu div {
    font-family: "Rubik Mono One", monospace;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    font-style: normal;
    color: #000000;
    font-size: 2rem;
    height: 120px;
    text-align: center;
    justify-content: center;
    border: 0.5px solid #000000;
}

#footerMenu div a {
    font-family: "Rubik Mono One", monospace;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

#footerMenu div:hover, #footerMenu div:hover a {
    font-style: normal;
    color: red;
    text-align: center;
    transition: color 0.25s;
    background-color: #000000;
}

#footerMenu .hovered {
    background-color: black;
    color: red;
}

#cataloguePage,
#discPage,
#aboutPage,
#references {
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 120px 180px 120px;
    width: 100%;
    gap: 60px;
}

#cataloguePage .cdContainer {
    display: flex;
    flex-flow: row-reverse nowrap;
    width: 100%;
    gap: 30px;
    text-align: right;
}

#cataloguePage .cdContainer p {
    font-size: 1.2rem;
}

#cataloguePage>.cdContainer:nth-child(2n) {
    flex-flow: row nowrap;
    text-align: left;
}

#cataloguePage>.cdContainer:nth-child(2n) h3 {
    text-align: left;
}

.cdCover img,
.cdCover {
    height: 250px;
    width: 250px;
}

.cdSubContainer p {
    color: white;
    padding-bottom: 20px;
}

.discTitle {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
}

.discTitle div {
    height: 6px;
    background: red;
    flex-grow: 2;
}

#redBox {
    padding: 40px;
    background-color: red;
    display: flex;
    flex-flow: row;
    gap: 60px;
}

#discPage ul li {
    font-size: 2rem;
    color: red;
    list-style-type: '⇀';
    padding-left: 20px;
    margin-left: 30px;
}

#cdInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(3, auto);
}

#cdInfo p,
#cdInfo blockquote {
    font-size: 1.5rem;
}

#cdInfo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;    
}

#cdInfo h3 {
    color: black;
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 15px;
}

#cdInfo>h3:first-child {
    padding-top: 0px;
}

#detailCdCover {
    grid-row: 1;
    grid-column: 1;
    height: 350px;
    width: 350px;
}

#altCover {
    width: 100%;
}

#firstAbout {
    grid-row: 1;
    grid-column: span 2;
}

#detailCdCover img {
    height: 350px;
    width: 350px;
}

blockquote {
    margin: 20px;
    grid-row: 3;
    grid-column: span 3;
    display: flex;
    align-items:flex-end;
    flex-flow: column;
}

blockquote p{
    padding-left: 20px;
    border-left: #000000 3px solid;
}

#arrowContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

#arrowContainer p {
   color: red;
   font-family: "Rubik Mono One", monospace;
   font-weight: 400;
   font-size: 1.5rem;
   padding-bottom: 10px;
   opacity: 0;
}

#arrowContainer svg{
    width: 300px;
    height: auto;
    cursor: pointer;
}

#drawableArrow svg path {
    stroke-width: 1;
    stroke-dasharray: 0;
    stroke: red;
}

@keyframes draw {
    to {
        stroke-dasharray: 6;
    }
}

@keyframes undraw {

    from {
        stroke-dasharray: 6;
    }

    to {
        stroke-dasharray: 0;
    }
}

@keyframes blink {

    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }


    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink{
    animation: blink 1s forwards;
}

.hide{
    opacity: 0;
}

#drawableArrow svg path:nth-child(2) {
    fill: red;
}

#drawableArrow svg path:nth-child(1) {
    animation: undraw 1s forwards;
}

#drawableArrow svg:hover path:nth-child(1) {
    animation: draw 2s forwards;
}

#eyeSymbol {
    margin-top: 10px;
    width: 10%;
}

#lastAbout {
    grid-row: 2;
    grid-column: span 3;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#lastAbout p{
    width: 100%;
}

#lastAbout figure{
    display: flex;
    flex-flow: column;
    margin-top: 40px;
    text-align: left;
}

#lastAbout figcaption{
    margin-top: 10px;
}

span {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
}

.discSubTitles {
    color: red;
    text-align: left;
}

#insertedVideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

#insertedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

#aboutPage #redBox img {
    width: 70%;
    padding-bottom: 5px;
}

#aboutPage p,
#aboutPage span {
    padding-bottom: 30px;
    font-size: 1.5rem;
}

figcaption {
    padding-bottom: 20px;
    font-size: 1.2rem;
}

#references ul>li {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    list-style-type: '⇀';
    padding-left: 20px;
    margin-left: 30px;
    padding-bottom: 20px;

}

#references ul li li {
    color: rgb(0, 0, 0);
    list-style: none;
    margin-left: 30px;
    padding-left: 0;
    list-style: disc;
}

#references ul li span {
    font-size: 1.8rem;
}

#references h3,
#aboutPage h3 {
    font-size: 2.5rem;
    text-align: left;
    color: #000;
}

#references #redBox,
#aboutPage #redBox {
    flex-flow: column;
    text-align: left;
    align-items: normal;
    gap: 10px;
}


@media only screen and (max-width: 768px) {

    header {
        height: 150px;
    }

    #arrowContainer p {
        opacity: 1;
      }

    #headerHomeCard{
        width:70%;
    }

    #cataloguePage,
    #discPage,
    #aboutPage,
    #references {
        padding: 0 25px 180px;
        gap: 40px;
    }

    #pageTitle {
        flex-flow: row;
        display: flex;
        margin-bottom: 30px;
    }

    #coverPortada {
        width: 380px;
        height: 380px;
        top: 80px;
    }

    #footerMenu img {
        opacity: 0;
        width: 100px;
        position: absolute;
        left: 10px;
    }

    #footerMenu #mirrorImg {
        left: initial;
        opacity: 0;
        width: 100px;
        position: absolute;
        right: 10px;
        transform: scaleX(-1);
    }

    h1 {
        font-size: 3rem;
        width: 100%;
        padding: 10px 0px 0;
    }

    h2 {
        font-size: 2.5rem;
        overflow-wrap: break-word;
        width: 100%;
    }

    h3,
    #cdInfo h3,
    #aboutPage h3,
    #references h3 {
        font-size: 2rem;
        overflow-wrap: anywhere;
        width: 70%;
        text-align: left;
    }

    #cataloguePage>.cdContainer:nth-child(2n),
    #cataloguePage .cdContainer {
        text-align: left;
        flex-flow: column;
        align-items: center;
        padding-bottom: 30px;
    }

    #cdInfo {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        display: grid;
        gap: 0;
    }

    #detailCdCover {
        grid-row: 1;
        width: 90%;
        height: auto;
        margin: 20px auto 40px;
    }

    #detailCdCover img {
        width: 100%;
        height: auto;
    }

    #firstAbout {
        grid-row: 2;
    }

    blockquote {
        grid-row: 3;
    }

    #lastAbout {
        grid-row: 4;
    }

    .discTitle {
        gap: 0;
    }

    .discTitle h3 {
        width: 100%;
    }

    #redBox {
        flex-flow: column;
        align-items: center;
        gap: 40px;
        padding: 20px;
    }

    .discTitle div {
        display: none;
    }

    .cdCover {
        width: 80%;
        height: auto;
    }

    .cdCover img {
        width: 100%;
        height: auto;
    }

    .discSubTitles {
        width: 100%;
    }

    #aboutPage #redBox img {
        width: 100%;
    }

    #cdInfo h3,
    #references h3,
    #aboutPage h3 {
        width: 100%;
    }


    #cdInfo p,
    #cdInfo blockquote,
    #aboutPage p,
    #aboutPage span, 
    #cdInfo a {
        font-size: 1.2rem;
    }
    


    #references ul li span {
        font-size: 1.2rem;
        line-break: anywhere;
    }

    #references ul>li {
        margin-left: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        font-size: 1.2rem;
        list-style: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    h1 {
        width: 100%;
    }

    h2 {
        font-size: 3rem;
    }

    h3,
    #cdInfo h3 {
        font-size: 2.5rem;
        overflow-wrap: anywhere;
    }

    #pageTitle {
        margin-bottom: 30px;
    }

    #cataloguePage,
    #discPage,
    #aboutPage,
    #references {
        padding: 0 40px 180px;
        gap: 40px;
    }

    #cdInfo {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        display: grid;
        gap: 0px;
    }

    #detailCdCover {
        grid-row: 1;
        width: 60%;
        height: auto;
        margin-bottom: 60px;
    }

    #detailCdCover img {
        width: 100%;
        height: auto;
    }

    #firstAbout {
        grid-row: 2;
    }

    blockquote {
        grid-row: 3;
    }

    #lastAbout {
        grid-row: 4;
    }


    #aboutPage #redBox img {
        width: 80%;
        padding-bottom: 5px;
    }

    #cataloguePage>.cdContainer:nth-child(2n),
    #cataloguePage .cdContainer {
        text-align: left;
        flex-flow: column;
        align-items: center;
        padding-bottom: 30px;
    }

    #redBox {
        flex-flow: column;
        align-items: center;
        gap: 40px;
        padding: 30px;
    }

    .cdCover {
        width: 60%;
        height: auto;

    }

    .cdCover img {
        width: 100%;
        height: auto;
    }
}