* {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #000000;
    overflow-y: scroll;
}

#coverPortada {
    object-fit: cover;
  z-index: -1;
  -webkit-clip-path: url("#clipPath");
  clip-path: url("#clipPath");
  width: 500px;
  height: 500px;
  position: absolute;
  top: 40px;
}

#pageTitle {
    background-color: red;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    height: 200px;
    text-align: center;
    z-index: 4;
    display: flex;
    align-items: center;
    width: 100%;
}

header img{
    width: 30px;
}

#headerHomeCard {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 30%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 80px;
    padding-bottom: 40px;
    height: 160px;
    top: -60px;
    transition: top 0.25s;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: red;
    background: rgba(255, 255, 255, 0.3);
    align-items: center;
}

#headerHomeCard a {
    font-family: "Rubik Mono One", monospace;
    text-align: center;
    font-size: 26px;
    padding-bottom: 5px;
}

#headerHomeCard:hover {
    top: 0;
    background: red;
    box-shadow: initial;
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

@keyframes snakeIn {

    from {
        transform: rotate(0deg);
        transform-origin: center;
    }

    to {
        transform: rotate(-180deg);
        transform-origin: center;
    }
}

@keyframes snakeOut {

    from {
        transform: rotate(-180deg);
        transform-origin: center;
    }

    to {
        transform: rotate(0deg);
        transform-origin: center;
    }
}

.snakeMove{
    animation: snakeIn 1s forwards;
}

.snakeReturn{
    animation: snakeOut 1s forwards;
}


h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    padding: 180px 60px 0;
    font-size: 100px;
    color: red;
}

h2 {
    position: relative;
    left: -10px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    padding: 20px 0;
    text-align: left;
    margin: 0;
    color: black;
}

h3 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-size: 3.2rem;
    font-style: normal;
    text-align: right;
    margin: 0;
    color: red;
    overflow-wrap: anywhere;
}

li,
p {
    line-height: 1.5;
}

#mainPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 110px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainPage svg{
    width: 100%;
}

#drawableArrow {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#footerMenu {
    position: fixed;
    width: 100%;
    bottom: -360px;
    background-color: red;
    height: 480px;
    left: 0;
    right: 0;
    transition: bottom 0.25s;
    margin: 0 auto;
    text-align: center;
}

#footerMenu img{
    width: 200px;
    position: absolute;
    left: 20px;
    top:40px;
    opacity: 0;
}

#footerMenu #mirrorImg{
    width: 200px;
    position: absolute;
    left: initial;
    right: 20px;
    opacity: 0;
    transform: scaleX(-1);
}

#footerMenu.footerActive{
    bottom: 0;
}

#footerMenu.footerActive img, #footerMenu.footerActive #mirrorImg{
    opacity: 1;
}

#footerMenu div {
    font-family: "Rubik Mono One", monospace;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    font-style: normal;
    color: #000000;
    font-size: 2rem;
    height: 120px;
    text-align: center;
    justify-content: center;
    border: 0.5px solid #000000;
}

#footerMenu div a {
    font-family: "Rubik Mono One", monospace;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

#footerMenu div:hover, #footerMenu div:hover a {
    font-style: normal;
    color: red;
    text-align: center;
    transition: color 0.25s;
    background-color: #000000;
}

#footerMenu .hovered {
    background-color: black;
    color: red;
}

#cataloguePage,
#discPage,
#aboutPage,
#references {
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 120px 180px 120px;
    width: 100%;
    gap: 60px;
}

#cataloguePage .cdContainer {
    display: flex;
    flex-flow: row-reverse nowrap;
    width: 100%;
    gap: 30px;
    text-align: right;
}

#cataloguePage .cdContainer p {
    font-size: 1.2rem;
}

#cataloguePage>.cdContainer:nth-child(2n) {
    flex-flow: row nowrap;
    text-align: left;
}

#cataloguePage>.cdContainer:nth-child(2n) h3 {
    text-align: left;
}

.cdCover img,
.cdCover {
    height: 250px;
    width: 250px;
}

.cdSubContainer p {
    color: white;
    padding-bottom: 20px;
}

.discTitle {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
}

.discTitle div {
    height: 6px;
    background: red;
    flex-grow: 2;
}

#redBox {
    padding: 40px;
    background-color: red;
    display: flex;
    flex-flow: row;
    gap: 60px;
}

#discPage ul li {
    font-size: 2rem;
    color: red;
    list-style-type: '⇀';
    padding-left: 20px;
    margin-left: 30px;
}

#cdInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(3, auto);
}

#cdInfo p,
#cdInfo blockquote {
    font-size: 1.5rem;
}

#cdInfo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;    
}

#cdInfo h3 {
    color: black;
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 15px;
}

#cdInfo>h3:first-child {
    padding-top: 0px;
}

#detailCdCover {
    grid-row: 1;
    grid-column: 1;
    height: 350px;
    width: 350px;
}

#altCover {
    width: 100%;
}

#firstAbout {
    grid-row: 1;
    grid-column: span 2;
}

#detailCdCover img {
    height: 350px;
    width: 350px;
}

blockquote {
    margin: 20px;
    grid-row: 3;
    grid-column: span 3;
    display: flex;
    align-items:flex-end;
    flex-flow: column;
}

blockquote p{
    padding-left: 20px;
    border-left: #000000 3px solid;
}

#arrowContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

#arrowContainer p {
   color: red;
   font-family: "Rubik Mono One", monospace;
   font-weight: 400;
   font-size: 1.5rem;
   padding-bottom: 10px;
   opacity: 0;
}

#arrowContainer svg{
    width: 300px;
    height: auto;
    cursor: pointer;
}

#drawableArrow svg path {
    stroke-width: 1;
    stroke-dasharray: 0;
    stroke: red;
}

@keyframes draw {
    to {
        stroke-dasharray: 6;
    }
}

@keyframes undraw {

    from {
        stroke-dasharray: 6;
    }

    to {
        stroke-dasharray: 0;
    }
}

@keyframes blink {

    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }


    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink{
    animation: blink 1s forwards;
}

.hide{
    opacity: 0;
}

#drawableArrow svg path:nth-child(2) {
    fill: red;
}

#drawableArrow svg path:nth-child(1) {
    animation: undraw 1s forwards;
}

#drawableArrow svg:hover path:nth-child(1) {
    animation: draw 2s forwards;
}

#eyeSymbol {
    margin-top: 10px;
    width: 10%;
}

#lastAbout {
    grid-row: 2;
    grid-column: span 3;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#lastAbout p{
    width: 100%;
}

#lastAbout figure{
    display: flex;
    flex-flow: column;
    align-items: left;
    margin-top: 40px;
    text-align: left;
}

#lastAbout figcaption{
    margin-top: 10px;
}

span {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
}

.discSubTitles {
    color: red;
    text-align: left;
}

#insertedVideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

#insertedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

#aboutPage #redBox img {
    width: 70%;
    padding-bottom: 5px;
}

#aboutPage p,
#aboutPage span {
    padding-bottom: 30px;
    font-size: 1.5rem;
}

figcaption {
    padding-bottom: 20px;
    font-size: 1.2rem;
}

#references ul>li {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    list-style-type: '⇀';
    padding-left: 20px;
    margin-left: 30px;
    padding-bottom: 20px;

}

#references ul li li {
    color: rgb(0, 0, 0);
    list-style: none;
    margin-left: 30px;
    padding-left: 0;
    list-style: disc;
}

#references ul li span {
    font-size: 1.8rem;
}

#references h3,
#aboutPage h3 {
    font-size: 2.5rem;
    text-align: left;
    color: #000;
}

#references #redBox,
#aboutPage #redBox {
    flex-flow: column;
    text-align: left;
    align-items: normal;
    gap: 10px;
}


@media only screen and (max-width: 768px) {

    header {
        height: 150px;
    }

    #topText{
        opacity: 1;
    }

    #headerHomeCard{
        width:50%;
    }

    #cataloguePage,
    #discPage,
    #aboutPage,
    #references {
        padding: 0 25px 180px;
        gap: 40px;
    }

    #pageTitle {
        flex-flow: row;
        display: flex;
        margin-bottom: 30px;
    }

    #coverPortada {
        width: 380px;
        height: 380px;
        top: 80px;
    }

    #footerMenu img {
        opacity: 0;
        width: 100px;
        position: absolute;
        left: 10px;
    }

    #footerMenu #mirrorImg {
        left: initial;
        opacity: 0;
        width: 100px;
        position: absolute;
        right: 10px;
        transform: scaleX(-1);
    }

    h1 {
        font-size: 3rem;
        width: 100%;
        padding: 120px 0px 0;
    }

    h2 {
        font-size: 2.5rem;
        overflow-wrap: break-word;
        width: 100%;
    }

    h3,
    #cdInfo h3,
    #aboutPage h3,
    #references h3 {
        font-size: 2rem;
        overflow-wrap: anywhere;
        width: 70%;
        text-align: left;
    }

    #cataloguePage>.cdContainer:nth-child(2n),
    #cataloguePage .cdContainer {
        text-align: left;
        flex-flow: column;
        align-items: center;
        padding-bottom: 30px;
    }

    #cdInfo {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        display: grid;
        gap: 0;
    }

    #detailCdCover {
        grid-row: 1;
        width: 90%;
        height: auto;
        margin: 20px auto 40px;
    }

    #detailCdCover img {
        width: 100%;
        height: auto;
    }

    #firstAbout {
        grid-row: 2;
    }

    blockquote {
        grid-row: 3;
    }

    #lastAbout {
        grid-row: 4;
    }

    .discTitle {
        gap: 0;
    }

    .discTitle h3 {
        width: 100%;
    }

    #redBox {
        flex-flow: column;
        align-items: center;
        gap: 40px;
        padding: 20px;
    }

    .discTitle div {
        display: none;
    }

    .cdCover {
        width: 80%;
        height: auto;
    }

    .cdCover img {
        width: 100%;
        height: auto;
    }

    .discSubTitles {
        width: 100%;
    }

    #aboutPage #redBox img {
        width: 100%;
    }

    #cdInfo h3,
    #references h3,
    #aboutPage h3 {
        width: 100%;
    }


    #cdInfo p,
    #cdInfo blockquote,
    #aboutPage p,
    #aboutPage span, 
    #cdInfo a {
        font-size: 1.2rem;
    }
    


    #references ul li span {
        font-size: 1.2rem;
        line-break: anywhere;
    }

    #references ul>li {
        margin-left: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        font-size: 1.2rem;
        list-style: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    h1 {
        width: 100%;
    }

    h2 {
        font-size: 3rem;
    }

    h3,
    #cdInfo h3 {
        font-size: 2.5rem;
        overflow-wrap: anywhere;
    }

    #pageTitle {
        margin-bottom: 30px;
    }

    #cataloguePage,
    #discPage,
    #aboutPage,
    #references {
        padding: 0 40px 180px;
        gap: 40px;
    }

    #cdInfo {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        display: grid;
        gap: 0px;
    }

    #detailCdCover {
        grid-row: 1;
        width: 60%;
        height: auto;
        margin-bottom: 60px;
    }

    #detailCdCover img {
        width: 100%;
        height: auto;
    }

    #firstAbout {
        grid-row: 2;
    }

    blockquote {
        grid-row: 3;
    }

    #lastAbout {
        grid-row: 4;
    }


    #aboutPage #redBox img {
        width: 80%;
        padding-bottom: 5px;
    }

    #cataloguePage>.cdContainer:nth-child(2n),
    #cataloguePage .cdContainer {
        text-align: left;
        flex-flow: column;
        align-items: center;
        padding-bottom: 30px;
    }

    #redBox {
        flex-flow: column;
        align-items: center;
        gap: 40px;
        padding: 30px;
    }

    .cdCover {
        width: 60%;
        height: auto;

    }

    .cdCover img {
        width: 100%;
        height: auto;
    }
}